.theodore_wrapper {
  position: relative;
  text-align: initial;
  box-sizing: border-box;
  width: 100%;
}

.theodore_contentEditable {
  padding: 10px;
  width: 100%;
  user-select: text;
  white-space: pre-wrap;
  word-break: break-word;
  font-size: 16px;
  overflow-y: auto;
}

.theodore_placeholder {
  color: #b3bac5;
  pointer-events: none;
  user-select: none;
  width: fit-content;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  opacity: 1;
  font-size: 16px;
  transition:
    opacity 200ms ease-out,
    transform 200ms ease-out;
}

.theodore_hiddenPlaceholder {
  opacity: 0;
  transform: translateX(20px);
}

.theodore_emojiNode {
  margin: 0px 1.5px;
  pointer-events: none;
  user-select: initial;
}

.theodore_emojiNode * {
  user-select: initial;
}

.theodore_paragraphNode {
  margin: 0px;
  user-select: initial;
}

.theodore_paragraphNode br {
  user-select: initial;
}

.theodore_textNode {
  white-space: pre-wrap;
  user-select: initial;
}
