# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Build landing

on:
  push:
    branches:
      - master
    paths:
      - "landing/**"
      - "theodore/**"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "pnpm"
          cache-dependency-path: pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install

      - name: Build landing
        run: |
          pnpm -C landing build
        env:
          SENTRY_AUTH_KEY: ${{ secrets.SENTRY_AUTH_KEY }}
          run_number: ${{ github.run_number }}

      - name: Build Docker image
        run: |
          cd landing
          docker build -t ghcr.io/fatemehkarimi/theodore-landing:${{ github.run_number }} .
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}
      - name: Push Docker Image
        run: |
          docker push ghcr.io/fatemehkarimi/theodore-landing:${{ github.run_number }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
